requests==2.32.5
beautifulsoup4==4.13.5
python_docx==1.2.0
selenium==4.35.0
qdrant-client==1.15.1
sentence-transformers==5.1.0
langchain_google_genai==2.1.5
langchain==0.3.27
dotenv==0.9.9
streamlit==1.49.1